<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
          </li>
          <li>
            <p>University of Illinois<br />Department of Economics<br />214 David Kinley Hall<br />1407 W. Gregory Drive.<br />Urbana, IL 61801<br />United States</p>
          </li>
            {% if site.email %}
           <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

       
        </ul>
      </div>

    </div>

  </div>

</footer>
