<footer class="site-footer">

  <div class="wrapper">
  <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
          </li>
          <li>
            <font size="3">{{ site.title }}</font>
          </li>
          <li>
            <p><font size="2.5">Postdoctoral Associate<br><a target="_blank" rel="noopener noreferrer" href="https://urbaneconomics.mit.edu">Urban Economics Lab</a><br><a target="_blank" rel="noopener noreferrer" href="https://mitcre.mit.edu/">Center for Real Estate</a><br><a target="_blank" rel="noopener noreferrer" href="https://www.mit.edu">Massachusetts Institute of Technology</a></font></p>
          </li>
        </ul>
      </div>
      

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <font size="2.5">Other links</font> <br  />
          {% if site.scholar_username %}<a href="https://scholar.google.com.br/citations?user={{ site.scholar_username }}"><span class="icon"><i class="ai ai-google-scholar-square" style="font-size:30px;color:rgb(134, 21, 44)"></i></span></a>{% endif %}
          {% if site.orcid_username %}<a href="https://orcid.org/{{ site.orcid_username }}"><span class="icon"><i class="ai ai-orcid-square" style="font-size:30px;color:rgb(134, 21, 44)"></i></span></a>{% endif %}
          {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}"><span class="icon"><i class="fa-brands fa-square-github" style="font-size:30px;color:rgb(134, 21, 44)"></i></span></a>{% endif %}
          {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon"><i class="fa-brands fa-square-x-twitter" style="font-size:30px;color:rgb(134, 21, 44)"></i></span></a>{% endif %}
          {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><span class="icon"><i class="fa-brands fa-linkedin" style="font-size:30px;color:rgb(134, 21, 44)"></i></span></a>{% endif %}
        </ul>
      </div>
      
      
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
            <font size="2.5">Contact</font> <br >
           <li>
              <font size="2.5"><a href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope"></i> {{ site.email }}</a></font> 
           </li>
          <li>
            <p><font size="2.5"><i class="fa fa-map-marker"></i> 105 Massachusetts Avenue <br> Samuel Tak Lee Bldg. 9-343<br>Cambridge, MA 02139. United States</font></p>
          </li>
        </ul>
      </div>
      
     
    </div>

  </div>

</footer>

