---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width:    1000px;

@import "minima",
        "minima/custom-styles"     // Hook to override existing styles.
  ;

@media(max-width:1000px){

    .footer{
        float:left;
        width:109%;
        margin-left:-5%;
    }

}
